<ion-header>
  <ion-toolbar>
    <ion-title>showroom-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="showroom-details">
    <div class="basic-wrapper">
      <h1 class="showroom-title">{{showroomDetails?.title}}</h1>
      <ion-img src="{{showroomDetails?.imageUrl}}"></ion-img>
    </div>
    <div class="car-wrapper">
      <ion-label>Cars</ion-label>
      <ion-button fill="outline" (click)="navToCreateCar()">
        <ion-icon name="add"></ion-icon>
        New Car
      </ion-button>
      <div class="cars">
        <ion-card>
          <img src="">
          <ion-card-header>
            <ion-card-title>carModel</ion-card-title>
            <ion-card-subtitle>carPrice</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <!-- Add any additional information here -->
          </ion-card-content>
        </ion-card>

      </div>
    </div>
  </div>

</ion-content>
