<ion-header>
  <ion-toolbar>
    <ion-title>showroom-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="showroom-details">
    <div class="basic-wrapper">
      <h1 class="showroom-title">{{showroomDetails?.title}}</h1>
      <ion-img src="{{showroomDetails?.imageUrl}}"></ion-img>
    </div>
    <div class="car-wrapper">
      <div class="car-list-header">
        <h2 class="car-heading">Cars</h2>
        <ion-button fill="outline" class="addCarBtn" (click)="navToCreateCar()">
          <ion-icon name="add"></ion-icon>
          New Car
        </ion-button>
      </div>
      <ion-list>
        <ion-card *ngFor="let car of cars; let i=index" class="car-card">
          <ion-card-content class="main-content">
            <img src="{{car.imageUrls[0]}}" alt="{{car.model}}" />
            <div class="information">
              <div class="menu-wrapper">
                <ion-icon name="ellipsis-horizontal-outline" class="more-btn" (click)="toggleMenu(i)"></ion-icon>
                <div *ngIf="showMenu[i]" class="car-menu">
                  <button class="menuBtn">Delete</button>
                  <button class="menuBtn">Update</button>
                </div>
              </div>
              <h1 class="info-title">{{car.manufacturer}} • {{car.model}} • {{car.type}}</h1>
              <ion-badge class="car-price">{{car.price}} BD</ion-badge>
            </div>
          </ion-card-content>
          <div class="">

          </div>
        </ion-card>

      </ion-list>
    </div>
  </div>

</ion-content>
