<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Showroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let showroom of (showrooms | async)" >

    <div style="position: relative; padding-top: 56.25%; overflow:hidden;" (click)="goToDetail(showroom.id)">
      <ion-img
      alt="Toyota Showroom"
      src={{showroom.imageUrl}}
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover" />

    </div>
    <ion-card-header>
      <ion-card-title>{{showroom.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{showroom.description}}
      <div style="display: flex; justify-content: flex-start; margin-top: 1rem;">

        <ion-button color="secondary" class="updateBtn" size="small" routerLink="/admin/update-showroom/{{showroom.id}}">Update</ion-button>
        <ion-button color="danger" class="deleteBtn" size="small" routerLink="/admin/delete-showroom/{{showroom.id}}">Delete</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="'/admin/create-showroom'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
