<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>car-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let image of car.imageUrls">
      <div class="swiper-zoom-container">
        <img src="{{image}}" alt="Car Image" />
      </div>
    </ion-slide>
  </ion-slides>
    <ion-grid>
      <ion-row class="header">
        <ion-col>
          <h2>Info</h2>
        </ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Type</ion-col>
        <ion-col>{{car.type}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Manufacturer</ion-col>
        <ion-col>{{car.manufacturer}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Model</ion-col>
        <ion-col>{{car.model}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Color</ion-col>
        <ion-col>{{car.color}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Mileage</ion-col>
        <ion-col>{{car.mileage}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Seats</ion-col>
        <ion-col>{{car.numberOfSeats}}</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Price</ion-col>
        <ion-col>{{car.price}} BD</ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col>Price (including 5% vat)</ion-col>
        <ion-col>{{car.vatPrice}} BD</ion-col>
      </ion-row>
      <ion-row class="header">
        <ion-col>
          <h2>Engine Specifications</h2>
        </ion-col>
      </ion-row>

      <ion-row class="info-row">
        <ion-col>Horse Power</ion-col>
        <ion-col>{{car?.engineSpecifications?.horsepower}}</ion-col>
      </ion-row>

      <ion-row class="info-row">
        <ion-col>Torque</ion-col>
        <ion-col>{{car?.engineSpecifications?.torque}}</ion-col>
      </ion-row>

      <ion-row class="info-row">
        <ion-col>fuel Efficiency</ion-col>
        <ion-col>{{car?.engineSpecifications?.fuelEfficiency}}</ion-col>
      </ion-row>
    </ion-grid>
    <div class="features">
      <h2>Specifications and Features</h2>
      <div *ngIf="car?.specificationAndFeatures?.sunroof" class="feature">
        <ion-icon  name="checkmark-circle" style="color: green; margin-right: 20px; font-size: 1.5rem"></ion-icon>
        <h3 class="feature-txt">Sun Roof</h3>
      </div>
      <div *ngIf="car?.specificationAndFeatures?.navigation" class="feature">
        <ion-icon  name="checkmark-circle" style="color: green; margin-right: 20px; font-size: 1.5rem"></ion-icon>
        <h3 class="feature-txt">Navigation</h3>
      </div>
      <div *ngIf="car?.specificationAndFeatures?.blindSpotMonitor" class="feature">
        <ion-icon  name="checkmark-circle" style="color: green; margin-right: 20px; font-size: 1.5rem"></ion-icon>
        <h3 class="feature-txt">Heated Seats</h3>
      </div>
      <div *ngIf="car?.specificationAndFeatures?.blindSpotMonitor" class="feature">
        <ion-icon  name="checkmark-circle" style="color: green; margin-right: 20px; font-size: 1.5rem"></ion-icon>
        <h3 class="feature-txt">Blind Spot Monitor</h3>
      </div>

      <ion-select placeholder="{{car.category}}" [(ngModel)]="car.category" (ionChange)="onSelectChange()">
          <ion-select-option *ngIf="car.category === 'forsale'" value="forsale">For Sale</ion-select-option>
          <ion-select-option *ngIf="car.category === 'forsale' || car.category ==='sold'" value="sold">Sold</ion-select-option>
          <ion-select-option *ngIf="car.category === 'sold' || car.category ==='history'" value="history">History</ion-select-option>
      </ion-select>
      <ion-list>
        <ion-item>
          <ion-label>Rating:</ion-label>
          <div class="rating">
            <ion-icon *ngFor="let i of [1, 2, 3, 4, 5]" [name]="i <= rating ? 'star' : 'star-outline'" (click)="rate(i)"></ion-icon>
          </div>
        </ion-item>
        <ion-item>
          <ion-label>Comment:</ion-label>
          <ion-textarea [(ngModel)]="comment"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button color="secondary" expand="block" (click)="submitRating()">Submit</ion-button>
      <ion-list>
        <ion-item *ngFor="let ratingAndComment of ratingsAndComments">
          <ion-label>
            <div class="rating">
              <ion-icon *ngFor="let i of [1, 2, 3, 4, 5]" [name]="i <= ratingAndComment.rating ? 'star' : 'star-outline'"></ion-icon>
            </div>
            <p>{{ ratingAndComment.comment }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>



<br><br>
</ion-content>
