ion-slides {
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;

}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature-txt {
  font-size: 1rem;
}

.info-row {
  padding: 5px 10px;
  border-radius: 10px;
}

.info-row:nth-of-type(even){
  background-color: aquamarine;
}
.info-row:nth-of-type(odd){
  background-color: rgb(249, 250, 250);
}

.rating ion-icon {
  font-size: 30px;
  color: #ffd700;
}

.rating ion-icon.star-outline {
  color: #c4c4c4;
}

.rating ion-icon:not(:last-child) {
  margin-right: 5px;
}


