<ion-header>
  <ion-toolbar color="secondary">
    <ion-button color="light" fill="clear" routerLink="../../">    
      <ion-icon name="chevron-back-circle"></ion-icon>
    </ion-button>
    <ion-title>create-car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select [(ngModel)]="car.type" (ionChange)="onSelectChange()">
        <ion-select-option *ngFor="let type of types" value="{{type.toLowerCase()}}">{{type}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Manufacturer</ion-label>
      <ion-select [(ngModel)]="car.manufacturer" (ionChange)="onSelectChange()">
        <ion-select-option *ngFor="let manufacturer of manufacturers" value="{{manufacturer.toLowerCase()}}">{{manufacturer}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-select [(ngModel)]="car.model">
        <ion-select-option *ngFor="let model of models" value="{{model.toLowerCase()}}">{{model}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-select [(ngModel)]="car.color">
        <ion-select-option *ngFor="let color of colors" value="{{color.toLowerCase()}}">{{color}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mileage</ion-label>
      <ion-input type="text" [(ngModel)]="car.mileage"></ion-input>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Engine Specifications</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="floating">Horsepower</ion-label>
        <ion-input [(ngModel)]="car.engineSpecifications.horsepower"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Torque</ion-label>
        <ion-input [(ngModel)]="car.engineSpecifications.torque"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fuel Efficiency</ion-label>
        <ion-input [(ngModel)]="car.engineSpecifications.fuelEfficiency"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item>
      <ion-label position="floating">Number of seats:</ion-label>
      <ion-input type="number" [(ngModel)]="car.numberOfSeats"></ion-input>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Specification and features</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Sunroof</ion-label>
        <ion-toggle [(ngModel)]="car.specificationAndFeatures.sunroof"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Navigation</ion-label>
        <ion-toggle [(ngModel)]="car.specificationAndFeatures.navigation"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Heated Seats</ion-label>
        <ion-toggle [(ngModel)]="car.specificationAndFeatures.heatedSeats"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" [(ngModel)]="car.price"></ion-input>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>car Images</ion-item-divider>
      <!-- <label for="file-input" class="file-input-label" [class.has-image]="imageSelected">
        <div class="file-input-content">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
          <span class="file-input-text">Choose an image</span>
        </div>
        <img *ngIf="imageSelected" [src]="imageSrc" class="selected-image">
      </label>
      <input type="file" id="file-input" accept="image/*" (change)="onFileSelected($event)" class="file-input"> -->

      <!-- <label for="file-input" class="file-input-label" [class.has-image]="imageSelected">
        <div class="file-input-content">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
          <span class="file-input-text">Choose an image</span>
        </div>
        <img *ngIf="imageSelected" [src]="imageSrc" class="selected-image">
      </label>
      <input type="file" id="file-input" accept="image/*" (change)="onFileSelected($event)" class="file-input"> -->

      <label for="file-input" class="file-input-label" [class.has-image]="imagesSelected">
        <div class="file-input-content">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
          <span class="file-input-text">Choose images</span>
        </div>
        <div *ngIf="imagesSelected" class="selected-images">
          <div *ngFor="let image of imagesSrc">
            <img [src]="image" class="selected-image">
            <button ion-button (click)="removeImage(image)">Remove</button>
          </div>
        </div>
      </label>
      <input type="file" id="file-input" accept="image/*" (change)="onFileSelected($event)" class="file-input" multiple>


    </ion-item-group>
  </ion-list>
  <ion-button color="secondary" (click)="createCar()">Create New Car</ion-button>
</ion-content>
