<!-- <ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>      Test Drive    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 

  
</ion-content> -->


<!-- <ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>      Profile    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div class="profile-container">
      
  <img src="" alt="Profile Picture" class="profile-picture">
  
    <h2 class="name">John Doe</h2>
    <p class="email">johndoe@example.com</p>
    <p class="mobile-number">123-456-7890</p>
    <p class="role">Administrator</p>
  </div>

  
</ion-content> -->
