<ion-header>
  <ion-toolbar>
    <ion-title>createShowroom Ahmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input type="text" [(ngModel)]="newShowroom.title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Image:</ion-label>
      <ion-input type="file" (change)="onFileChange($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-textarea [(ngModel)]="newShowroom.description" required></ion-textarea>
    </ion-item>

    <ion-button type="submit" expand="full">Create Showroom</ion-button>
  </form>
</ion-content>
