<ion-header>
  <ion-toolbar color="secondary">
    <ion-button color="light" fill="clear" routerLink="../../">    
      <ion-icon name="chevron-back-circle"></ion-icon>
    </ion-button>
    <ion-title>createShowroomGhaith</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-input type="text" [(ngModel)]="newShowroom.title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Image:</ion-label>
      <ion-input type="file" (change)="onFileChange($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-textarea [(ngModel)]="newShowroom.description" required></ion-textarea>
    </ion-item>

    <ion-button (click)="createShowroom()" expand="full">Create Showroom</ion-button>
  </ion-list>
</ion-content>
