<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Welcome,</h1>
  <h3>Sign in to continue!</h3>
<br><br>
  <ion-item class="input-field" >
    <ion-input label="Email ID" type="text" placeholder="Email" [(ngModel)]="email" />
  </ion-item>
  <ion-item class="input-field" >
    <ion-input label="Password" type="password" placeholder="Password" [(ngModel)]="password" />
  </ion-item>
 <br><br>
  <ion-button label='Login' expand="block" (click)="logInUser()">Sign In</ion-button>
  <p class="footer-text">I'm a new user, <a routerLink="/register">Sign Up</a></p>

</ion-content>

