<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="title">Register</ion-label>
    <ion-item class="input-field">
      <ion-input type="text" placeholder="Name" [(ngModel)]="name" />
    </ion-item>
    <ion-item class="input-field">
      <ion-input type="text" placeholder="Mobile Number" [(ngModel)]="mobileNumber" />
    </ion-item>
    <ion-item class="input-field">
      <ion-input type="text" placeholder="Email" [(ngModel)]="email" />
    </ion-item>
    <ion-item class="input-field">
      <ion-input type="password" placeholder="Password" [(ngModel)]="password" />
    </ion-item>
    <ion-item class="input-field">
      <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" />
    </ion-item>
    <ion-button expand="block" (click)="registerUser()">Sign Up</ion-button>
    <ion-button routerLink="/login" fill="clear" color="dark" expand="block">Have an account? Sign In</ion-button>

</ion-content>
