<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Create Account,</h1>
  <h3>Sign up to get started!</h3>

    <ion-item >
      <ion-input label="Full Name" type="text" placeholder="Name" [(ngModel)]="name" />
    </ion-item>
    <ion-item >
      <ion-input label="Full Name" type="text" placeholder="Mobile Number" [(ngModel)]="mobileNumber" />
    </ion-item>
    <ion-item>
      <ion-input label="Email ID" type="text" placeholder="Email" [(ngModel)]="email" />
    </ion-item>
    <ion-item >
      <ion-input label="Password" type="password" placeholder="Password" [(ngModel)]="password" />
    </ion-item>
    <ion-item >
      <ion-input label="Password" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" />
    </ion-item>
    <br><br>
    <ion-button label='Register' expand="block" (click)="registerUser()">Sign Up</ion-button>
    <p style="text-align: center;" routerLink="/login" class="footer-text" expand="block">Have an account? Sign In</p>

</ion-content>



