<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<br><br>
  <ion-item class="input-field" >
    <ion-input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter Your Email" />
  </ion-item>
 <br><br>
 <ion-button color="secondary" expand="block" (click)="forgotPassword()">Send link</ion-button>
 <br>
 <ion-button color="secondary" expand="block" fill="outline" routerLink="/login">Back to login page</ion-button>

</ion-content>