<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="showrooms">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Showrooms</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="tab2">
      <ion-icon name="car-outline" color="brown"></ion-icon>
      <ion-label>Test drive</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle" color="brown"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
