<ion-tabs color="primary">

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="showrooms" routerLinkActive="active" color="tertiary">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Showrooms</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="tab2" routerLinkActive="active" color="tertiary">
      <ion-icon name="car-outline" ></ion-icon>
      <ion-label>Test drive</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="tab3" routerLinkActive="active" color="tertiary">
      <ion-icon name="person-circle" ></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

